.error {
    color: red;
}

.admin-login {
    padding-top:100px;
}

.login-form {
    margin:auto;
    width:90%;
    max-width:400px;
}

.login-form input {
    display:block;
    width:100%;
    margin-bottom: 5px;
    text-align: center;
}